{% extends "base.html" %}
{% block title %}Indian Cuisine{% endblock %}

{% block content %}
<div class="row gy-5">
    <div class="indianheader"><img src="{{ url_for('static', filename= 'images/mixedrice.png')}}" height="200px" width="300px"></div>
    <p class="indiandesc">
        Originating from Singapore and Malaysia, this is the mixed rice which we like to indulge in as it gives a sense of home cooked food. 
        Customers are able to choose from a list of 15 dishes including but not limited to various types of meat, vegetables, eggs and tofu dishes.
    </p>
{% for dish in dishes_list %}
    {% if dish.get_cuisine() == "mixedrice" %}
    <div class="col-xl-4" id="dishitem">
        <img src="/{{ dish.get_image() }}" height="370px" width="370px">
        <h4>{{ dish.get_dish_name() }}</h4>
        <p>
            {{ dish.get_description() }}
        </p>
        <p>
            ${{ dish.get_price() }}
        </p>
        <p>
            <a href="/updateDish/{{dish.get_dish_id()}}" class="btn btn-outline-primary">Update</a>
        </p>
        <form action="{{url_for('delete_dish', id=dish.get_dish_id())}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}