{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}
<div class="container">
    <h1 class="">Contact Us</h1>
    <div class="row d-flex align-items-center justify-content-center mt-5">
        <div class="col-md-6 order-1 order-md-0 mt-3 mt-md-0">
            <h2 class="text-left">Address</h2>
            <p class="text-left">Location: 10 Sengkang Square, Singapore 544829</p>
            <p class="text-left">Contact Number: +65 8501 0004</p>
            <p class="text-left">Email: myHawker@gmail.com</p>
            <h2 class="text-left">Working Hours</h2>
            <p class="text-left">7.30am to 11pm daily</p>
        </div>
        <div class="col-md-6 order-0 order-md-1 mb-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.1604674427167!2d103.89302592917939!3d1.3914210999365757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da16128442660d%3A0x9fca6640027cacb!2s10%20Sengkang%20Square%2C%20Singapore%20544829!5e0!3m2!1sen!2ssg!4v1676283559784!5m2!1sen!2ssg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
{% endblock %}