{% extends "base.html" %}
{% block title %}Indian Cuisine{% endblock %}

{% block content %}
<div class="row gy-5">
    <div class="indianheader"><img src="{{ url_for('static', filename= 'images/indiancuisine.png')}}" height="200px" width="300px"></div>
    <p class="indiandesc">
        From Bombay to Bangladesh we bring you the finest of the finest Indian cuisine here.
        We have a Michelin starred Indian chef working his magic here. He revives the ancient art of Indian cuisine as he manages the three outlets of myHawker.
        The Indian cuisine attracts hundreds over hundreds of orders a day and is the talk of Singapore nowadays.
    </p>
{% for dish in dishes_list %}
    {% if dish.get_cuisine() == "indian" %}
    <div class="col-xl-4" id="dishitem">
        <img src="/{{ dish.get_image() }}" height="370px" width="370px">
        <h4>{{ dish.get_dish_name() }}</h4>
        <p>
            {{ dish.get_description() }}
        </p>
        <p>
            ${{ dish.get_price() }}
        </p>
        <form action="{{url_for('delete_dish', id=dish.get_dish_id())}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}